body {	/*the outer layer of the site and global style attributes*/
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
}

/* Utility Stylesheets */

a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 100%;
}

/* Page Format */
.container {
	position: absolute;
	width: 100%;
}

/* NavBar */
#navbar {
	position: fixed;
	background-color: blue;
	width: 100%;
}

.navbox {
	position: relative;
	float: left;
	padding: 20px;
	float: left;
}

.logo {
	position: relative;
	float: left;
	padding: 20px;
}

.searchbox {
	background-color: red;
	width: 200px;
	height: 30px;
	float: right;
	margin: 20px 150px 0px 0px;
	text-align: center;
}
/* Feed */
#feed {
	position: fixed;
	background-color: green;
	width: 20%;
	margin-top: 62px;
}
.feedbox {
	padding: 10px;
	border-bottom: 2px solid;
}
.filter{
	padding: 20px;
}