body {	/*the outer layer of the site and global style attributes*/
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
}

/* Utility Stylesheets */

a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 100%;
}

/* Page Format */
.container {
	position: absolute;
	width: 100%;
}

/* NavBar */
#navbar {
	position: fixed;
	background-color: blue;
	width: 100%;
}

.navbox {
	position: relative;
	float: left;
	padding: 20px;
	float: left;
}

.logo {
	position: relative;
	float: left;
	padding: 20px;
}

/* Feed */
#feed {
	position: absolute;
	background-color: green;
	width: 20%;
	clear: both;
}
.feedbox {

}